<div id="post_section">
  <img id="post_image" src="./img/omurice.jpg"></img>
  <p id="post_timestamp">2014/07/29 5:18</p>
  <p id="post_title">意外と簡単？子供が喜ぶ！ふわとろオムライス♪</p>

  <div class="clear"></div>

  <div id="post_stars">
    <i class="fa" ng-class="star>=1? 'fa-star':'fa-star-o' " ng-click="setstar(1)"></i>
    <i class="fa" ng-class="star>=2? 'fa-star':'fa-star-o' " ng-click="setstar(2)"></i>
    <i class="fa" ng-class="star>=3? 'fa-star':'fa-star-o' " ng-click="setstar(3)"></i>
    <i class="fa" ng-class="star>=4? 'fa-star':'fa-star-o' " ng-click="setstar(4)"></i>
    <i class="fa" ng-class="star>=5? 'fa-star':'fa-star-o' " ng-click="setstar(5)"></i>
  </div>
  <textarea id="post_comment"></textarea>

</div>


<div id="post_button" ng-click="post()">投稿！</div>
