<div id="post_section">
  <img id="post_image" src="./img/omurice.jpg"></img>
  <p id="post_timestamp">2014/07/29 5:18</p>
  <p id="post_title">意外と簡単？子供が喜ぶ！ふわとろオムライス♪</p>

  <div class="clear"></div>

  <div id="post_stars" ng-click="setstar()">
    <i class="fa {{star}}"></i>
    <i class="fa {{star}}"></i>
    <i class="fa {{star}}"></i>
    <i class="fa {{star}}"></i>
    <i class="fa fa-star-o"></i>
  </div>
  <textarea id="post_comment"></textarea>

</div>


<div id="recipe_done" ng-click="post()">投稿！</div>
