<div id="recipe_image">
<img src="./img/omurice.jpg">
<p id="recipe_title">意外と簡単？子供が喜ぶ！ふわとろオムライス♪<</p>
</div>
<p class="recipe_notes">ユーザにとってより適切だと判断した場合において、当サービスがレシピ内容の変更を行っている場合があります。</p>
<div class="recipe_section" id="recipe_know_how">
  <p class="recipe_subtitle">料理のコツ</p>
  <div class="recipe_subsection">
    <div class="box">
      <ul>
        <li><span>鶏肉のかわりにハムやベーコンをつかってもＯＫです。</span></li>
        <li><span>チーズ好きさんは、卵にとろけるチーズを入れてもおいしいと思います。</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="recipe_section" id="recipe_ingridents">
  <p class="recipe_subtitle">材料</p>
  <div class="recipe_subsection">
    <table>
    <tr>
    <th>卵</th>
    <td>4個</td>
    </tr>
    <tr>
    <th>温かいご飯</th>
    <td>茶碗二杯</td>
    </tr>
    <tr>
    <th>鶏もも肉</th>
    <td>80g</td>
    </tr>
    <tr>
    <th>玉ねぎ</th>
    <td>1/4個</td>
    </tr>
    <tr>
    <th>パセリのみじん切り</th>
    <td>大さじ2</td>
    </tr>
    <tr>
    <th>牛乳</th>
    <td>大さじ2</td>
    </tr>
    <tr>
    <th>バター、塩、こしょう、トマトケチャップ、サラダ油</th>
    <td>各適量</td>
    </tr>
    </table>
  </div>
</div>

<div class="recipe_section" id="recipe_process">
  <p class="recipe_subtitle">つくり方</p>
  <div class="recipe_subsection">
    <table>
    <tr>
    <th>1</th>
    <td>1人分ずつかける。</td>
    </tr>




    </table>  </div>
</div>

<div id="recipe_done" ng-click="done()">つくった！</div>
