<img class="recommend_card_like" src="./img/like.png">
<img class="recommend_card_nope" src="./img/nope.png">

<div id="carousel-example" class="carousel">
  <div class="carousel-inner">

    <div class="recommend_card" >
      <img src="./img/loading.png" class="recommend_loading">
    </div>

    <div ng-repeat="recipe in recipes" class="recommend_card" carousel-item index="{{$index}}">
      <div class="recommend_card_img" style="background-image: url({{recipe.image_url}})"></div>
      <p class="recommend_card_title">{{recipe.name}}</p>
      <p class="recommend_card_ingridients" >{{recipe.screen_ingredients}}</p>
    </div>
    
  </div>
</div>

<div class="recommend_card_spacer"></div>
<div class="recommend_card_dummy_1"></div>
<div class="recommend_card_dummy_2"></div>

<div id="recommend_button_box">
<!--   <div class="recommend_button like">
    <i class="fa fa-thumbs-o-up" ng-click></i>
    <p>つくりたい</p>
  </div>
  <div class="recommend_button nope">
    <i class="fa fa-thumbs-o-down" ng-click></i>
    <p>つくりたくない</p>
  </div> -->
</div> 