<!-- <div class="setting_section_box">
  <p class="setting_section_title">アカウント</p>
  <div class="setting_section social">
    <i class="fa fa-twitter"></i>Sign in with twitter<i class="fa fa-angle-right"></i>
    <hr class="setting_section_line">
    <i class="fa fa-instagram"></i>hogehoge<i class="fa fa-angle-right"></i>
  </div>
</div>
 -->
<div class="setting_section_box">
  <p class="setting_section_title">チュートリアル</p>
  <div class="setting_section note" ng-click="tutorial()">
  チュートリアルを見る  
  </div>
</div>


<div class="setting_section_box">
  <p class="setting_section_title">運営</p>
  <div class="setting_section note">
  このアプリは楽天株式会社から提供されている楽天レシピを仕様しています。<br>
  運営元:専修大学 望月研究室2014
  </div>
</div>


<div class="setting_section_box">
  <p class="setting_section_title">お問い合わせ</p>
  <div class="setting_section">
    <p id="setting_inquery">欲しい機能、改善して欲しい点など、何でもお聞かせください。</p>
    <textarea id="mypage_inquery_form" placeholder="例：眠い" ></textarea>
    <div id="mypage_inquery_button">送信</div>
  </div>
</div>


<div id="setting_logout">ログアウト</div>